.spinnerWrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    background: #0a0a0a;
    height: 100vh
}

.navbar {
    height: 70px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.logoutButton {
    width: 100px;
    align-self: center;
    padding:10px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(223, 182, 0);
    transition: background-color 0.2s ease-in-out;
}
.logoutButton:hover {
    background-color: rgb(248, 203, 0);
}

.mainSection {
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.infoWrapper {
    display: flex;
    flex-direction: column;
    background-color: #2d2d2d;
    padding: 2rem;
    border-radius: 10px;
    color: white;
}

.messageSuccess,
.messageFailed {
    text-align: center;
    font-style: italic;
    margin: 5px 0;
}
.messageSuccess {
    color: greenyellow;
}
.messageFailed {
    color: red;
}
