.tick-icon {
    width: 50px;
    height: 50px;
    background-color: greenyellow;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 36px;
    font-weight: bold;
}
