.spinnerWrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    background: #0a0a0a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh
}

h1 {
    color: rgb(248, 203, 0);
}

.formWrapper {
    background-color: #2d2d2d;
    padding: 2rem;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formInput {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.messageSuccess,
.messageFailed {
    text-align: center;
    font-style: italic;
    margin: 5px 0;
}
.messageSuccess {
    color: greenyellow;
}
.messageFailed {
    color: red;
}

.noticeForgotPassword {
    margin: 8px 0 8px 0;
    text-align: center;
    font-size: 0.8rem;
}

.forgotPasswordDirect {
    text-decoration: none;
    color: rgb(248, 203, 0);
}
.forgotPasswordDirect:hover {
    text-decoration: underline;
}
