.wrapper {
    background: #0a0a0a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh
}

h1 {
    color: rgb(248, 203, 0);
}

.formWrapper {
    background-color: #2d2d2d;
    padding: 2rem;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formInput {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.messageSuccess,
.messageFailed {
    text-align: center;
    font-style: italic;
    margin: 5px 0;
}
.messageSuccess {
    color: greenyellow;
}
.messageFailed {
    color: red;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem 0 1rem;
    width: 100%;
}

.backToLogin {
    background-color: rgb(223, 182, 0);
    margin-top: 1rem;
    padding: 0.8rem ;
    width: 100%;
    font-size: 1rem;
}
.backToLogin:hover {
    background-color: rgb(248, 203, 0);
}

.backToLoginLink {
    text-decoration: none;
    color: black;
}
