.password-strength-indicator {
    padding: 5px 0 5px 0;
    font-size: 14px;
    color: gray;
}

.strength-label {
    padding: 5px;
    text-align: right;
}

.strength-bars {
    display: flex;
    width: 100%;
    gap: 5px;
    margin-bottom: 10px;
}

.strength-bar {
    width: 100%;
    height: 10px;
    background-color: gray;
    transition: background-color 0.2s ease;
}

.conditions-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.condition {
    margin: 2px 0 2px 0;
}

.condition.passed {
    color: green;
}

.strength-bar.active {
    background-color: green;
}
